/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 9/06/2018, 12:54:09 PM
    Author     : Kryzpy
*/

.transparente{
    border: none;
    background: transparent;
    box-shadow: none;
}

